body {
  margin-top: 30px;
  text-align: center;	
}
h1 {
  text-align: center;
  font-size: 50px;
  font-style: bold;	
  color: red;	
}
h2 {
  text-align: center;
  color: red;
}
.table {
  margin-left: 30px;
  text-align: center; 
}
th {
	text-align: center;
}